# Solución de ejercicios

## Taller No. 1


1. Dé una posible muestra de tamaño 4 de cada una de las siguientes poblaciones.


    a. Todos los periódicos publicados en Estados Unidos.  


    b. Todas las compañías listadas en la Bolsa de Valores de Nueva York.


    c. Todos los estudiantes en su colegio o universidad.


    d. Todas las calificaciones promedio de los estudiantes en su colegio o universidad.

### a) Selección a través de muestra aleatoria simple

In [ ]:
import numpy as np

newspapers = ['The Wall Street Journal', 'The New York Times', 'USA Today', 'Los Angeles Times', 'San Jose Mercury',
             'New York Daily News', 'New York Post', 'The Washington Post', 'Chicago Sun-Times', 'The Denver Post',
             'Chicago Tribune']

def selectRandom(list):
  return np.random.choice(list, 4, False)

selectRandom(newspapers)

print("The selected newspapers are:", selectRandom(newspapers))

### b) Scrapping de compañías de la bolsa de valores y selección por muestra aleatoria simple

#### Link hacia el colab para scrapear página con las compañías

<a href="https://colab.research.google.com/drive/1tIKHjBRyYC7RCiTv6VxqzeHnwi8UkKeX?hl=es#scrollTo=blHkvPJ3MIGj">Notebook con el código</a>


A partir del scrapping se obtiene un csv que tiene todos los nombres de las compañías aquí:

<a href="datasets/companies.csv">Archivo</a>

In [ ]:
import pandas as pd

df = pd.read_csv('datasets/companies.csv')
df.sample(4)

### c) Escoger 2 mujeres y 2 hombres de semestres al azar. (muestra aleatoria estratificada)

In [1]:
from faker import Faker
import pandas as pd
import numpy as np

#Con el parámetro localization faker puede cambiar el idioma y localización de la info generada.
fake = Faker('es_MX')
people = []
semester = []

for _ in range(100):
    people.append(fake.simple_profile())
    semester.append(np.random.randint(1,10))

df_people = pd.DataFrame(people)
df_people.insert(6, "semester", semester)

muestra_f = df_people[df_people.sex=='F'].sample(2)
muestra_m = df_people[df_people.sex=='M'].sample(2)

muestra = pd.concat([muestra_f, muestra_m])
muestra

,username,name,sex,address,mail,birthdate,semester
40,jlozada,Elvia Noemí Malave Navarrete,F,Avenida Michoacán de Ocampo 329 932\nNueva Bah...,enriquebriones@gmail.com,1931-02-23,6
47,matosjacobo,Débora Catalina Arellano Zarate,F,Continuación Ballesteros 966 273\nSan Catalina...,xsisneros@hotmail.com,1962-08-30,3
46,elias07,Yeni Ruelas,M,Privada Andorra 384 Interior 816\nSan Modesto ...,nrios@hotmail.com,1925-03-02,7
50,cazaresestefania,Luis Miguel Salazar Burgos,M,"Andador Serna 274 625\nNueva Burkina Faso, MOR...",xsoria@hotmail.com,1947-01-05,4

### d) Escoger la calificación final de 4 materias al azar.

In [1]:
import numpy as np
import pandas as pd

calificaciones = []

for _ in range(200):
    #random.uniform recibe dos parámetros (rango, número de decimales)
    calificaciones.append(round(np.random.uniform(0, 5), 1))

df = pd.DataFrame(calificaciones)
df.sample(4, ignore_index=True)

     0
0  1.3
1  1.3
2  4.6
3  0.9